body{
    font-size: 2rem;
}

.cl-userButtonPopoverCard{
    width: fit-content;
    min-width: 30rem;
    max-width: 40rem;

    span, button{
        font-size: 1.6rem;
    }

    p{
        font-size: 1.4rem;
    }

    .cl-internal-5ghyhf{
        width: 3.4rem;
    }

    svg{
        width: 1.4rem;
        height: 1.4rem;
    }
}