.select {
    &__top {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 1rem;
        border: 0.1rem solid #ffffff81;
        height: 4rem;
        padding: 0 1rem;
        width: fit-content;

        span {
            font-size: 1.6rem;
        }
    }

    &__dropdown {
        display: none;
    }
}
