textarea {
    resize: none;
    padding: 1rem;
    box-shadow: $box-shadow-gradient;
    height: 30rem;
    background-color: rgb(18, 18, 18);

    &::-webkit-scrollbar {
        width: 0.4rem;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(41, 95, 128, 0.511);
    }
}
